<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Adelina/IdeaProjects/AllureTestNg">

    <classes>
    <!--   <class name="redrover.mainPageTest"></class>
        <class name="redrover.TeachersPageTest"></class>
        <class name="cucumber.CucumberSteps"></class>-->
    </classes>
</test>
</suite>
